<div style="text-align: center; display: flex; flex-direction: column; align-items: center; height: 100vh;">
    <div style="position: relative; height: 100%; flex-grow: 1; display: flex;">
        <canvas id="renderCanvas" style="width: 100%; flex-grow: 1;"></canvas>

        <div class="overlay">
            <mat-card style="flex: 1; max-width: 600px; margin: 8px;">
                <mat-card-content style="display: flex; flex-wrap: wrap; justify-content: center;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">X</th>
                            <th scope="col">Y (Height)</th>
                            <th scope="col">Z</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Sun ({{sunOrbitAngle}})</th>
                            <td>{{sunOutputX}} km</td>
                            <td>{{sunOutputY}} km</td>
                            <td>{{sunOutputZ}} km</td>
                        </tr>
                        <tr>
                            <th scope="row">Moon ({{moonOrbitAngle}})</th>
                            <td>{{moonOutputX}} km</td>
                            <td>{{moonOutputY}} km</td>
                            <td>{{moonOutputZ}} km</td>
                        </tr>
                        <tr>
                            <th scope="row">Outside View</th>
                            <td>{{cameraOutputX}} km</td>
                            <td>{{cameraOutputY}} km</td>
                            <td>{{cameraOutputZ}} km</td>
                        </tr>
                        <tr>
                            <th scope="row">Inner View</th>
                            <td>{{cameraOutputX}} km</td>
                            <td>{{cameraOutputY}} km</td>
                            <td>{{cameraOutputZ}} km</td>
                        </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>    
        </div>

        <div class="overlayRight">
            Research by <a href="https://flatearth.university/">Flat Earth University</a> and <a href="https://journalofgeocentriccosmology.org/">Journal of Geocentric Cosmology</a>
        </div>
    </div>
</div>