<div style="text-align: center; display: flex; flex-direction: column; align-items: center; height: 100vh;">
    <div style="position: relative; height: 100%; flex-grow: 1; display: flex;">
        <canvas id="renderCanvas" style="width: 100%; flex-grow: 1;"></canvas>

        <div class="overlay">
            <h1>Flat Earth Model: B<small style="float:right;"><a href="/model">Model A</a></small></h1>
            <p>1px is {{scale}}km. Use the arrow keys and mouse to control the camera.</p>

            <mat-card style="flex: 1; max-width: 500px; margin: 8px;">
                <mat-card-content style="display: flex; flex-wrap: wrap; justify-content: left; margin-bottom:0px">
                    <mat-checkbox [(ngModel)]="enableMovement">Enable Movement</mat-checkbox>
                </mat-card-content>
                <mat-card-content style="display: flex; flex-wrap: wrap; justify-content: left; margin-bottom:0px">
                    <mat-checkbox [(ngModel)]="innerCamera" (change)="switchCameraAwait = true">1st Person View Camera</mat-checkbox>
                </mat-card-content>
            </mat-card>

            <mat-card style="flex: 1; max-width: 500px; margin: 8px;">
                <mat-card-content style="display: flex; flex-wrap: wrap; justify-content: center;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">X</th>
                            <th scope="col">Y (Height)</th>
                            <th scope="col">Z</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Sun ({{sunOrbitAngle}}°)</th>
                            <td>{{sunOutputX}} km</td>
                            <td>{{sunOutputY}} km</td>
                            <td>{{sunOutputZ}} km</td>
                        </tr>
                        <tr>
                            <th scope="row">Moon ({{moonOrbitAngle}}°)</th>
                            <td>{{moonOutputX}} km</td>
                            <td>{{moonOutputY}} km</td>
                            <td>{{moonOutputZ}} km</td>
                        </tr>
                        <tr>
                            <th scope="row">3rd Person</th>
                            <td>{{cameraOutputX}} km</td>
                            <td>{{cameraOutputY}} km</td>
                            <td>{{cameraOutputZ}} km</td>
                        </tr>
                        <tr>
                            <th scope="row">1st Person</th>
                            <td>{{cameraInnerObserverOutputX}} km</td>
                            <td>{{cameraInnerObserverOutputY}} km</td>
                            <td>{{cameraInnerObserverOutputZ}} km</td>
                        </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>    

            <mat-card style="flex: 1; max-width: 500px; margin: 8px;">
                <mat-card-content style="display: flex; flex-wrap: wrap; justify-content: center; margin-bottom:0px">
                  <div style="margin: 8px; flex: 1 1 calc(33.333% - 16px); margin-bottom:0px; padding-bottom: 0px;">
                    <label>Sun f(x) {{sunOrbitXFactor}}</label>
                    <input type="range" [(ngModel)]="sunOrbitXFactor" step="100" min="0" max="12000">
                  </div>
                </mat-card-content>
                <mat-card-content style="display: flex; flex-wrap: wrap; justify-content: center; margin-bottom:0px">
                  <div style="margin: 8px; flex: 1 1 calc(33.333% - 16px); margin-bottom:0px; padding-bottom: 0px;">
                    <label>Moon f(x) {{moonOrbitXFactor}}</label>
                    <input type="range" [(ngModel)]="moonOrbitXFactor" step="100" min="0" max="12000">
                  </div>
                </mat-card-content>
                <mat-card-content style="display: flex; flex-wrap: wrap; justify-content: center;">
                  <div style="margin: 8px; flex: 1 1 calc(33.333% - 16px); margin-bottom:0px; padding-bottom: 0px;">
                    <label>Sun Compass {{sunOrbitAngle}}°</label>
                    <input type="range" [(ngModel)]="sunOrbitAngle" step="1" min="0" max="360">
                  </div>
                  <div style="margin: 8px; flex: 1 1 calc(33.333% - 16px); margin-bottom:0px; padding-bottom: 0px;">
                    <label>Moon Compass {{moonOrbitAngle}}°</label>
                    <input type="range" [(ngModel)]="moonOrbitAngle" step="1" min="0" max="360">
                  </div>
                </mat-card-content>
              </mat-card>
            
                
        </div>
    </div>
</div>